<div class="wrapper">
    <% if @records.present? %>
    <% @records.each do |record| %>
    <ul>
        <% record.event.each do |item| %>
        <li>
            <%=link_to "#{item.name}","/users/#{record.user_id}/events/#{item.name}"%>
        </li>
        <% end %>
    </ul>
    <% end %>
    <% else %>
    <h1>まだその種目はないようです。</h1>
    <% end %>
</div>