<div class="user">
    <div class="wrapper">
        <div class="user_info">
            <h1>ユーザー基本情報</h1>
            <dl>
                <dt>
                    ユーザー名
                </dt>
                <dd>
                    <%= @user.name %>
                </dd>
            </dl>
            <dl>
                <dt>
                    メールアドレス
                </dt>
                <dd>
                    <%= @user.email %>
                </dd>
            </dl>
        </div>
        <div class="user_trainingrecord">
            <h1><%= @user.name %>の記録一覧</h1>
            <ul>
                <%= render partial: 'record', collection: @records %>
            </ul>
        </div>
    </div>
</div>