<div class="wrapper userEventIndex">
    <h1>
        <%=@user.name%>の<br class="sp">記録済みの種目一覧
    </h1>
    <p>
        種目をクリックすると、<br class="sp">その種目の記録が確認できます。
    </p>
    <% if @records.present? %>
    <ul class="eventItemList">
        <% @records.each do |record| %>
        <li class="eventItem">
            <%=link_to "#{record.name}","/users/events/?user_id=#{@user_params}&event_name=#{record.name}"%>
        </li>
        <% end %>
    </ul>
    <% else %>
    <p>
        まだ種目はないようです。
        <%=link_to "登録しませんか？", "/records/" %>
    </p>
    <% end %>
</div>
