// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./variables";
// #contents {
//     padding-left: 0!important;
// }

// header {
//     display: none!important;
// }

// .wrapper {
//     width: 100%!important;
//     padding-top: 0 !important;
// }

.home {
    header {
        background: none;
    }
    .wrapper {
        width: 100%;
        height: 100vh;
        padding-top: 0;
        @include sp {
            height: auto;
        }
        .row {
            display: flex;
            width: 100%;
            height: 100%;
            @include sp {
                flex-direction: column-reverse;
                flex-wrap: wrap;
            }
            > div {
                width: 50%;
                padding: 120px 80px;
                @include sp {
                    width: 100%;
                    padding: 100px 40px;
                }
            }
            
        }
    }
}

.left-wrap {
    ul {
        list-style: none;
        li {
            font-size: 18px;
            font-weight: bold;
            line-height: 2;
        }
    }
}

.right-wrap {
    background: #ffd591;
    .logo-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        img {
            margin-right: 10px;
        }
    }
    .button-wrap {
        margin-top: 100px;
        .button {
            display: block;
            text-decoration: none;
            width: 100%;
            height: 45px;
            border-radius: 10px;
            margin: 30px auto;
            text-align: center;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
            &.register {
                background: #fff;
                color: #000000;
                border: 1px solid #fff;
            }
            &.login {
                background: #F77200;
                color: #ffffff;
                border: 1px solid #F77200;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        .testUser,
        .noLogin {
            text-decoration: none;
            color: $main_color;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.5;
            display: block;
        }
    }
}

.img-wrap img {
    width: 100%;
}

.aboutPage {
    section {
        padding: 100px 0;
        @include sp {
            padding: 70px 0;
        }
        .section-wrap {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 50px;
            @include sp {
                padding: 0 20px;
            }
        }
        h1 {
            font-size: 30px;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 60px;
            @include sp {
                font-size: 25px;
                margin-bottom: 35px;
            }
        }
    }
    .top {
        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-right: 15px;
            }
        }
        .intro {
            p {
                font-size: 16px;
                line-height: 3;
                text-align: center;
                span {
                    font-size: 25px;
                    font-weight: bold;
                    line-height: 1.5;
                    display: block;
                    @include sp {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .feature {
        background: $main_color;
        ul {
            list-style-type: none;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 5px solid #000;
                border-radius: 10px;
                background: #fff;
                margin-bottom: 30px;
                padding: 20px;
                @include sp {
                    flex-direction: column-reverse;
                }
                div {
                    width: 60%;
                    @include sp {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                    dt {
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 1.5;
                        margin-bottom: 30px;
                        @include sp {
                            margin-bottom: 10px;
                        }
                    }
                    dd {
                        font-size: 16px;
                        line-height: 1.5;
                    }
                }
                img {
                    width: 300px;
                    height: auto;
                    @include sp {
                        width: 100%;
                    }
                }
            }
        }
    }
    .faq {
        ul {
            list-style-type: none;
            li {
                border: 4px solid $main_color;
                border-radius: 10px;
                padding: 20px 10px;
                margin-bottom: 15px;
                dt {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.5;
                    @include sp {
                        font-size: 16px;
                    }
                    i {
                        font-size: 28px;
                        margin-right: 10px;
                    }
                }
                dd {
                    padding-left: 30px;
                    margin-top: 20px;
                    line-height: 1.5;
                }
            }
        }
    }
    .schedule {
        background: #f5f5f5;
        .contents-wrap {
            width: 70%;
            margin: 0 auto;
            padding: 10px;
            border: 5px solid #000;
            border-radius: 10px;
            @include sp {
                width: 100%;
            }
            ul {
                line-height: 2;
                list-style-position: inside;
                font-size: 20px;
                @include sp {
                    font-size: 16px;
                }
            }
        }
    }
    .profile {
        background: $main_color;
        .row {
            background: #ffffff;
            border: 5px solid #000;
            border-radius: 10px;
            padding: 25px 20px;
            align-items: center;
            justify-content: space-between;
            @include sp {
                flex-direction: column;
            }
            > div {
                width: 48%;
                padding: 0;
                @include sp {
                    width: 100%;
                }
            }
            .contents-wrap {
                dl {
                    line-height: 1.5;
                    margin-bottom: 10px;
                    dt {
                        font-size: 20px;
                        font-weight: bold;
                    }
                    dd {
                        font-size: 18px;
                        ul {
                            list-style-type: none;
                            line-height: 1.8;
                            li {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }

            }
        }
    }
    .credit {
        .section-wrap {
            width: 70%;
            margin: 0 auto;
            border: 5px solid #000;
            border-radius: 10px;
            padding: 20px 35px;
            @include sp {
                width: 80%;
            }
            ol {
                line-height: 2;
                li {
                    margin-bottom: 10px;
                    dt {
                        font-size: 20px;
                        font-weight: bold;
                    }
                    dd {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
