// Place all the styles related to the TrainingRecord controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ?????????????????????
@import "./variables";

dd {
    margin: 0;
}

$main_color: orange;

$icon_color: #000;

// #index {
//     margin-top: 50px;
// }

.record_index .record_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include sp {
        flex-direction: column;
    }
    .record {
        width: 48%;
        margin-bottom: 50px;
        list-style-type: none;
        padding: 15px 15px 20px 15px;
        @include sp {
            width: 100%;
        }
        .title {
            margin: 0px 0 10px 0;
            .username {
                color: #000000;
                > a {
                    display: flex;
                    align-items: center;
                    > img {
                        width: 60px;
                        margin-right: 10px;
                    }
                }
            }
            .date {
                font-size: 13px;
            }
        }
        .comment {
            margin-bottom: 12px;
            padding: 20px 0;
            border-bottom: 1px solid #000;
            line-height: 1.5;
        }
        > ol {
            margin-bottom: 25px;
            padding-left: 20px;
            line-height: 1.5;
            > li {
                margin-bottom: 15px;
            }
        }
        img {
            width: 100%;
        }
        .set_list {
            display: flex;
            list-style-type: none;
            > li {
                margin-right: 10px;
            }
        }
        a {
            color: $main_color;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

// section > .record_index {
//     margin-top: 80px;
// }

.record_index li img {
    width: 100%;
}

.record_index {
    width: 800px;
    margin: 0 auto;
    @include sp {
        width: 90%;
    }
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// .event_index {
//     width: 800px;
//     margin: 0 auto;
//     @include sp {
//         width: 100%;
//     }
//     ul {
//         list-style: none;
//     }
// }

.event_index > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-direction: row;
        flex-wrap: wrap;
    }
    > li {
        width: 30%;
        padding: 20px;
        text-align: center;
        margin-bottom: 15px;
        @include sp {
            width: 48%;
        }
    }
}

i {
    color: $icon_color;
}

.record_form {
    width: 600px;
    margin: 0 auto 50px;
    @include sp {
        width: 90%;
    }
    .links {
        margin-top: 10px;
    }
    .register_picture {
        margin-top: 5px;
    }
        textarea {
            width: 100%;
            max-width: 600px;
            height: 200px;
            font-size: 16px;
            padding: 6px;
            resize: none;
        }
        input[type="submit"] {
            width: 250px;
            height: 50px;
            background: $main_color;
            color: #ffffff;
            font-size: 16px;
            letter-spacing: 2px;
            display: block;
            margin: 15px auto 0px auto;
        }
        .register_picture_button {
            display: none;
        }
        .fa-image {
            font-size: 45px;
            cursor: pointer;
        }
}

.event_fields {
        dl {
            border: 1px solid #ECF0F2;
            margin-top: 20px;
            dt {
                font-size: 16px;
                padding: 10px;
            }
            dd {
                font-size: 16px;
                background: #ECF0F2;
                padding: 15px 10px;
                select {
                    outline:none;
                    -moz-appearance: none;
                    text-indent: 0.01px;
                    text-overflow: '';
                    background: none transparent;
                    vertical-align: middle;
                    font-size: 13px;
                    color: inherit;
                    -webkit-appearance: button;
                    -moz-appearance: button;
                    appearance: button;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    height: 45px;
                    padding: 3px 12px;
                    border:1px solid #ddd;
                    color:#828c9a;
                    width:40%;
                    border-radius:3px;
                }
                input[type="number"] {
                    width: 60px;
                    height: 35px;
                    margin-right: 15px;
                    padding: 5px;
                    font-size: 14px;
                }
                table {
                    margin-top: 15px;
                }
            }
        }
}

.event_item_title {
    display: flex;
    justify-content: space-between;
}

.event_item_title > .remove_fields {
    display: none;
}

.event_item_title:hover > .remove_fields {
    display: block;
}

i.fa-info-circle {
    cursor: pointer;
}

// モーダル
.modalBg {
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 8;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100vw;
}

.modal input[type="text"] {
    outline:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: 13px;
    color: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 45px;
    padding: 3px 12px;
    border:1px solid #ddd;
    color:#828c9a;
    width:100%;
    margin-top: 20px;
    border-radius:3px;
}

.modalContents {
    background: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    z-index: 100;
    padding: 20px;
}

.record_detail {
    width: 600px;
    margin: 0 auto;
    padding: 20px 15px;
    @include sp {
        width: 90%;
    }
    .comment {
        padding: 20px 0;
        margin-bottom: 12px;
        border-bottom: 1px solid #000;
        line-height: 1.5;
    }
    .set
        > ol {
            padding-left: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            > li {
                margin-bottom: 15px;
                line-height: 1.5;
                width: 45%;
                @include sp {
                    width: 100%;
                }
                dt
                    > a {
                        color: $main_color;
                    }
            }
        }
    .set_list {
        display: flex;
        list-style: none;
        > li {
            margin-right: 5px;
        }
    }
}

.event_index > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin-top: 50px;
    @include sp {
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }
    .record {
        width: 48%;
        margin-top: 20px;
        padding: 15px 15px 20px 15px;
        @include sp {
            width: 100%;
        }
        .title {
            margin-bottom: 15px;
        }
    }
    .event {
        margin-bottom: 15px;
        dt {
            margin-bottom: 10px;
            color: $main_color;
            font-weight: bold;
        }
        ol {
            line-height: 1.5;
            padding-left: 17px;
        }
    }
}


