// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./variables";

.wrapper {
    // width: 800px;
    width: 85%;
    margin: 0 auto;
    @include sp {
        width: 90%;
    }
    .user_info {
        margin-bottom: 20px;
        dl {
            display: flex;
            justify-content: space-around;
        }
        img {
            width: 80px;
        }
        .profile {
            position: relative;
            width: 60%;
            max-width: 600px;
            margin: 0 auto;
            @include sp {
                width: 100%;
            }
            div {
                margin: 0 auto;
                text-align: center;
            }
            .userName {
                margin-top: 15px;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2px;
            }
            .userIntro {
                margin-top: 15px;
                letter-spacing: 1px;
                line-height: 1.5;
            }
            .edit {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    > .user_index {
        h1 {
            font-size: 25px;
            margin-bottom: 30px;
            text-align: center;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include sp {
                justify-content: center;
            }
            li {
                width: 48%;
                padding: 10px;
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                z-index: 1;
                @include sp {
                    width: 80%;
                    align-items: flex-start;
                }
                .user_img {
                    width: 20%;
                    img {
                        width: 100%;
                    }
                }
                .user_info {
                    width: 70%;
                    .name {
                        margin-bottom: 5px;
                        a {
                            color: $main_color;
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                    .intro {
                        font-size: 14px;
                        line-height: 1.5;
                        text-align: justify;
                    }
                }
                .icons {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
    }
    .userItems {
        .buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
            list-style: none;
            .button {
                width: 33.3%;
                height: 40px;
                text-align: center;
                font-weight: bold;
                border: 1px solid $main_color;
                transition: 0.5s;
                label {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    @include sp {
                        font-size: 14px;
                    }
                }
            }
            .active {
                background: $main_color;
                color: #ffffff;
                transition: 0.5s;
            }
        }
        .items {
            margin-top: 25px;
            list-style: none;
            li {
                transition: 1s;
                > ul.recordIndex {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    list-style: none;
                    > li {
                        width: 49%;
                        height: 300px;
                        overflow-y: scroll;
                        margin-bottom: 15px;
                        padding: 15px 25px;
                        @include sp {
                            width: 100%;
                        }
                    }
                }
                >ul.recordEvent {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    list-style: none;
                    > li {
                        width: 48%;
                        border: 1px solid #000;
                        text-align: center;
                        padding: 15px;
                        margin-bottom: 20px;
                        .title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .username a {
                                display: flex;
                                align-items: center;
                            }
                        }
                        ol {
                            list-style-position: inside;
                        }
                    }
                }
            }
        }
    }
    .user_trainingrecord {
        margin-top: 50px;
        > ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include sp {
                flex-direction: column;
            }
            > li {
                width: 48%;
                margin-top: 20px;
                padding: 15px 15px 20px 15px;
                list-style: none;
                @include sp {
                    width: 100%;
                }
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .username
                        > a {
                            display: flex;
                            align-items: center;
                            > img {
                                width: 60px;
                                margin-right: 10px;
                            }
                        }
                }
                .comment {
                    margin-bottom: 12px;
                    padding: 20px 0;
                    border-bottom: 1px solid #000;
                    line-height: 1.5;
                }
                ol {
                    margin-bottom: 25px;
                    padding-left: 20px;
                    line-height: 1.5;
                    > li {
                        margin-bottom: 15px;
                        a {
                            color: $main_color;
                            font-weight: bold;
                            text-decoration: none;
                        }
                        .set_list {
                            display: flex;
                            list-style: none;
                            li {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .userEvent {
        h1 {
            text-align: center;
            font-size: 25px;
            letter-spacing: 2px;
            margin: 0 0 50px 0;
            @include sp {
                font-size: 20px;
            }
        }
        > ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 100px;
            > li {
                width: 30%;
                min-height: 200px;
                margin: 0 0 40px 0;
                padding: 15px 20px;
                position: relative;
                @include sp {
                    width: 100%;
                }
                dl {
                    dt {
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: 15px;
                    }
                    dd {
                        ol {
                            line-height: 1.5;
                            list-style-position: inside;
                            li {
                                font-weight: bold;
                            }
                        }
                    }
                }
                .parentRecord {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                }
            }
        }
    }
}

.signup {
    .row {
        width: 500px;
        margin: 0 auto;
        @include sp {
            width: 100%;
        }
        dl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            @include sp {
                flex-direction: column;
                align-items: flex-start;
            }
            dt{
                @include sp {
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                > span {
                    color: $main_color;
                }
            }
            dd {
                @include sp {
                    width: 100%;
                }
                > input {
                    width: 250px;
                    height: 40px;
                    font-size: 16px;
                    @include sp {
                        width: 100%;
                    }
                }
            }
        }
        input[type="submit"] {
            width: 100%;
            border: 1px solid $main_color;
            background: $main_color;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            margin-top: 25px;
            @include sp {
                margin-top: 0;
            }
        }
    }
}