// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./variables";

.wrapper {
    width: 800px;
    margin: 50px auto 0;
    @include sp {
        width: 90%;
    }
    .user_info {
        margin-bottom: 20px;
        dl {
            display: flex;
            justify-content: space-around;
        }
        > img {
            width: 80px;
        }
    }
    .user_trainingrecord {
        margin-top: 50px;
        > ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include sp {
                flex-direction: column;
            }
            > li {
                width: 48%;
                border: 1px solid #000;
                margin-top: 20px;
                padding: 15px 15px 20px 15px;
                list-style: none;
                @include sp {
                    width: 100%;
                }
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .username
                        > a {
                            display: flex;
                            align-items: center;
                            > img {
                                width: 60px;
                                margin-right: 10px;
                            }
                        }
                }
                .comment {
                    margin-bottom: 12px;
                    padding: 20px 0;
                    border-bottom: 1px solid #000;
                    line-height: 1.5;
                }
                ol {
                    margin-bottom: 25px;
                    padding-left: 20px;
                    line-height: 1.5;
                    > li {
                        margin-bottom: 15px;
                        a {
                            color: $main_color;
                            font-weight: bold;
                            text-decoration: none;
                        }
                        .set_list {
                            display: flex;
                            list-style: none;
                            li {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.signup {
    .row {
        width: 500px;
        margin: 0 auto;
        @include sp {
            width: 100%;
        }
        dl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            @include sp {
                flex-direction: column;
                align-items: flex-start;
            }
            dt{
                @include sp {
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                > span {
                    color: $main_color;
                }
            }
            dd {
                @include sp {
                    width: 100%;
                }
                > input {
                    width: 250px;
                    height: 40px;
                    font-size: 16px;
                    @include sp {
                        width: 100%;
                    }
                }
            }
        }
        input[type="submit"] {
            width: 100%;
            border: 1px solid $main_color;
            background: $main_color;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            margin-top: 25px;
            @include sp {
                margin-top: 0;
            }
        }
    }
}