// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./variables";

.wrapper {
    // width: 800px;
    width: 85%;
    margin: 0 auto;
    @include sp {
        width: 90%;
    }
    > .user_info {
        margin-bottom: 50px;
        @include sp {
            margin-bottom: 30px;
        }
        dl {
            display: flex;
            justify-content: space-around;
        }
        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }
        .profile {
            position: relative;
            width: 60%;
            max-width: 600px;
            margin: 0 auto;
            @include sp {
                width: 100%;
            }
            div {
                margin: 0 auto;
                text-align: center;
            }
            .userName {
                margin-top: 15px;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2px;
            }
            .userIntro {
                margin-top: 15px;
                letter-spacing: 1px;
                line-height: 1.5;
            }
            .edit {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    > .user_index {
        h1 {
            font-size: 25px;
            margin-bottom: 30px;
            text-align: center;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include sp {
                justify-content: center;
            }
            li {
                width: 48%;
                padding: 10px;
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                z-index: 1;
                @include sp {
                    width: 100%;
                    align-items: flex-start;
                }
                .user_img {
                    img {
                        width: 75px;
                        height: 75px;
                        @include sp {

                        }
                    }
                }
                .user_info {
                    width: 70%;
                    .name {
                        margin-bottom: 5px;
                        a {
                            color: $main_color;
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                    .intro {
                        font-size: 14px;
                        line-height: 1.5;
                        text-align: justify;
                    }
                }
                .icons {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    i {
                        color: $main_color;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }
                &:hover {
                    i {
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    .userItems {
        > .buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
            list-style: none;
            .button {
                width: 33.3%;
                height: 40px;
                text-align: center;
                font-weight: bold;
                border: 1px solid $main_color;
                transition: 0.5s;
                label {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    @include sp {
                        font-size: 14px;
                    }
                    input {
                        display: none;
                    }
                }
            }
            .active {
                background: $main_color;
                color: #ffffff;
                transition: 0.5s;
            }
        }
        .items {
            margin-top: 25px;
            list-style: none;
            > li {
                padding: 0 12px;
                transition: 1s;
                > ul.recordIndex {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    list-style: none;
                }
            }
            .userEventItem {
                ul {
                    li {
                        @include sp {
                            width: 100%;
                        }
                    }
                }
            }
            .userMedia {
                ul {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    list-style-type: none;
                    li {
                        width: 48%;
                        @include sp {
                            width: 100%;
                            margin-bottom: 15px;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .user_trainingrecord {
        margin-top: 50px;
        > ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include sp {
                flex-direction: column;
            }
        }
    }
    .userEvent {
        h1 {
            text-align: center;
            font-size: 25px;
            letter-spacing: 2px;
            margin: 0 0 50px 0;
            @include sp {
                font-size: 18px;
                line-height: 1.5;
            }
        }
        > ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 100px;
            > li {
                width: 30%;
                min-height: 200px;
                margin: 0 0 40px 0;
                padding: 15px 20px;
                position: relative;
                @include sp {
                    width: 100%;
                }
                dl {
                    dt {
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: 15px;
                    }
                    dd {
                        ol {
                            line-height: 1.5;
                            list-style-position: inside;
                        }
                    }
                }
                .parentRecord {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                }
            }
        }
    }
}

.signup {
    .row {
        width: 500px;
        margin: 0 auto;
        @include sp {
            width: 100%;
        }
        dl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            @include sp {
                flex-direction: column;
                align-items: flex-start;
            }
            dt{
                @include sp {
                    margin-bottom: 10px;
                    font-weight: bold;
                }
                > span {
                    color: $main_color;
                }
            }
            dd {
                @include sp {
                    width: 100%;
                }
                input {
                    width: 250px;
                    height: 40px;
                    font-size: 16px;
                    @include sp {
                        width: 100%;
                    }
                }
            }
        }
        input[type="submit"] {
            width: 100%;
            border: 1px solid $main_color;
            background: $main_color;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            margin-top: 25px;
            @include sp {
                margin-top: 0;
            }
        }
    }
}

.userEdit {
    .userImage img {
        display: block;
        margin: 0 auto 15px;
    }
    .userName input {
        width: 100%;
        height: 30px;
        font-size: 16px;
        padding: 5px;
        border: 1px solid $main_color;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    }
    .userIntro textarea {
        width: 100%;
        height: 100px;
        resize: none;
        font-size: 16px;
        border: 1px solid $main_color;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    }
    input[type="submit"] {
        width: 80%;
        height: 30px;
        margin: 15px auto 0;
        display: block;
        background: $main_color;
        color: #fff;
        font-size: 14px;
        box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    }
}

.user {
    > .wrapper {
        max-width: 1000px;
        width: 85%;
    }
}
